.login {
    background-color: #fefefe;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px;
    font-size: 1.0rem;
}

.login h2 {
    color: #ebb240;
    font-size: 1.2em;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 0;
}

.login input{
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    
}

.login button{
    border: 2px solid #ebb240;
    width: 100%;
    background: #ebb240;
    color: #fefefe;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 1.0rem;
    box-sizing: border-box;
    outline: none;
    position: relative;
        transition: background 0.3s;
}
.login button::after{
    content: '';
    position: absolute;
      height: 0;
      left: 0;
      top: 0;
      width: 100%;
    height: 100%;
    background: #ebb240;
    z-index: -1;
    transition: all 0.3s;
}
.login button:hover::after,
.login button:focus::after{
    height: 0%;
    width: 100%;
}
.login button:hover,
.login button:focus{
    color: #ebb240;
    border: 2px solid #ebb240;
    background: transparent;
}

.input-container{
    position: relative;
}
.login label {
    position: absolute;
    top: 10px;
    color: silver;
    left: 0;
    transition: .3s;
}

.login input:focus~label,
.login input:valid~label
{
    top: -12px;
    left: 0px;
    color: #ebb240;
    font-size: 0.8rem;
    font-weight: bold;
}

.login input:focus,
.login input:valid
{
    border-bottom: 2px solid #ebb240;
}

.error {
    margin-top: 15px;
    width: 100%;
    background-color: #ca2735;
    color: #fefefe;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px 0;
    position: relative;
    /* Position the tooltip */
}

.error:after {
    content: " ";
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    /* At the top of the tooltip */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ca2735 transparent;
}
 
.animation {
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    left: 49%;
  }
  
  20%, 80% {
    left: 51%;
  }

  30%, 50%, 70% {
    left: 48%;
  }

  40%, 60% {
    left: 51%;
  }
}

@media (min-width: 400px){
    .login{
        width: 24rem;
    }
}
    