@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

html:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    background-image: url("../img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
}

body {}

.wrapper {
    background-color: #fefefe;
    width: 95%;
    margin: 30px auto;
    box-sizing: border-box;
}

header, footer {
    padding: 30px;
}

.logo {
    background: linear-gradient(135deg, rgba(250, 233, 135, 1) 0%, rgba(255, 153, 0, 0.5) 100%), url("../img/sh.jpg");
    background-size: cover;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 100px;
}

.logo h1 {
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    color: #fefefe;
    font-size: 3rem;
    text-align: center;
    border: 5px solid #fefefe;
}

h2 {
    color: #ebb240;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
}

.info {
    display: flex;
    justify-content: center;
}

.info h2{
    padding: 0;
}

.box{
    width: 100%;
    text-align: center;
    padding: 40px 0 60px 0;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;    
    text-decoration: none;
}

.box h2{
    font-size: 1.2rem;
    color: black;
}

.more {
    max-width: 60px;
    border: none;
    padding: 10px;
    backface-visibility: hidden;
    transition: 0.5s;
    
}
.box:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.box:hover .more,
.box:focus .more{
    opacity: 0.1;
}

.show {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ebb240;
}

h3 {
    font-size: 1.2rem;
}

.box:hover .show,
.box:focus .show{
    opacity: 1;
    top: 40%;
}

.module:nth-child(even) {
    flex-direction: row-reverse !important;
}


header, .module, .bottom, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.modules{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.module-settings, .module-name{
    width: 50%;
    text-align: center;
    position: relative;
    color: #fefefe;
}

.module h2{
    color: #fefefe;
    padding: 0;
    padding-top: 20px;
}

.module-settings img{
    -webkit-mask-image: linear-gradient(to right, transparent 10%, black 55%);
    mask-image: linear-gradient(to right, transparent 10%, black 55%);
    margin: 0px;
    padding: 0px;
    border: none;
    max-height: 260px;
    width: 100%;
    float: right;
}

.module:nth-child(even) img {
    -webkit-mask-image: linear-gradient(to left, transparent 10%, black 55%);
    mask-image: linear-gradient(to left, transparent 10%, black 55%);
    float: left;
}


.light{
    background-image: linear-gradient(-120deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%)
}
.cooling{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.heating{
    background-image: linear-gradient(-120deg, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

footer{
    background: #cccccc;
    justify-content: center;
}
.off{
    filter: opacity(15%);
    transition: 1s;
}
.module:hover .off{
    filter: opacity(90%);
}
.on{
    filter: opacity(90%);
    transition: 1s;
}
.module:hover .on{
    filter: opacity(15%);
}

.disabled {
   pointer-events: none;
   cursor: default;
}

input {
    text-align: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (min-width: 950px) {
    .wrapper {
        width: 55em;
    }
    .show{
        font-size: 2rem;
    }
    footer{
        justify-content: flex-end;
    }
}